


# Environnement et Cache
venv/
__pycache__/
*.pyc

# Sécurité et Automatisation locale
.env
lancer_pipeline.bat

# Données et Rapports
rapport_excel/*.xlsx
logs/*.log 
data/*.csv 
tests/*.csv
power_bi/data/