


venv/                       # Mon environnement virtuel
*.pyc                       # Fichiers Python compilés
__pycache__/                # Dossiers de cache
.env                        # LES ID de Connexion (crucial pour PostgreSQL plus tard)
rapport_excel/*.xlsx        # Les rapports Excel générés
logs/*.log                  # Les fichiers de logs locaux
tests/*.csv                 # Les fichiers des testes unitaires